<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-nearbyshare" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NearbySharePlugin</name>
    <js-module src="www/NearbyShareHelper.js" name="NearbyShareHelper">
        <clobbers target="NearbyShareHelper" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/NearbyShareHelper.java" target-dir="src/com/example/nearbysharepluginnative" />
        <framework src="src/android/libs/app-release.aar" custom="true" type="aar" />
    </platform>
</plugin>
